
.fav-placeholder{
    margin-block: 10px;
    font-size: 16px;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
}

.contentRow{
    display: flex;
}

.nameRow{
    display: flex;
    width: 20%;
    flex-wrap: wrap;
}

.contactRow{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}

.actionsRow{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.edit-name-popupWrapper,.edit-contact-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6e8e6;
    display: flex;
    justify-content: center;
    align-items: center;
}