.headerWrapper{
    width: 100%;
    display: flex;
}

.nameWrapper{
    display: flex;
    width: 20%;
    flex-wrap: wrap;
}

.contactWrapper{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}

.actionsWrapper{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}